:root {
  --primary-background: #2c2e32;
  --secondary-background: #272727;
  --text-colour: #ffffff;
  --secondary-text: #ffffff80;
  --button-colour: #5865f2;
  --danger-colour: #e74c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: var(--primary-background);
  color: var(--text-colour);
  min-height: calc(100vh - calc(76px + 64px));
}

button:disabled {
  opacity: 0.5 !important;
  cursor: wait !important;  
}

/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background);
  color: var(--text-colour);
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.nav a {
  text-decoration: none;
  color: var(--text-colour);
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  font-weight: lighter;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav__links a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
  }
}

.nav__logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav__name {
  font-weight: lighter;
  font-size: 1.5rem;
  color: var(--secondary-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.nav__logout:hover .nav__name {
  opacity: 0.5;
}

/* Footer */

.footer {
  background-color: var(--secondary-background);
  color: var(--text-colour);
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}

.footer a {
  color: var(--text-colour);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
